.aboutContainer {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.aboutContainer h1 {
    color: #0070f3;
  font-size: 2rem;
}

.aboutContainer p {
  color: #666;
  font-size: 1.1rem;
  line-height: 1.6;
}
